/* user */
/* confOrder Widget styling */
.confOrder {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    text-align: left;
    padding-left: 4%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.151);
}
.confOrder .label {
    color: #8b33ff;
}
.confOrder .comment {
    width: 100%;
    outline: transparent;
    text-align: left;
    color: black;
    height: fit-content;
    font-family: inherit;
    font-size: inherit;
}
.confOrder span {
    min-height: 2.5em;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
}
.confOrder .buttons {
    grid-auto-columns: unset;
}

/* selectfood styling */
.selectFood {
    width: 95%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.13);
}
.selectFood img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.selectFood .details {
    text-align: left;
    display: grid;
}
.selectFood .details h3 {
    color: #8b33ff;
}
.selectFood .details .minMax {
    width: 96%;
    margin-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* categories styling */
.category {
    width: 10em;
    height: 25vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
}
.category img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

/* top food styling */
.topFood {
    width: 100%;
    height: 30vh;
    background-color: white;
}
.topFood .details {
    position: absolute;
    z-index: 50;
    top: 0;
    display: grid;
    width: 100%;
    height: inherit;
    text-align: left;
    color: white;
    background: linear-gradient(135deg, black 10%, transparent);
}
.topFood img {
    width: 90%;
    height: 80%;
    top: 20%;
    margin-left: 10%;
    object-fit: contain;
}
/* phonelanding  */
/* mainNav */
.mainNav {
    width: 100%;
    height: 4em;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    line-height: 4em;
    color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.438);
    background-image: url(../Images/Path\ 3.svg), url(../Images/Path\ 2.svg), linear-gradient(35deg, #9E54FF 5%, #FF6D6D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0vw 5%;
}
.dropDown {
    margin-top: auto;
    margin-bottom: auto;
}
.dropDown .dropBtn {
    width: 3em;
    height: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10%;
    background-color: transparent;
    display: grid;
    grid-auto-flow: row;
    z-index: 10;
}
.dropDown .dropBtn div {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: width 0.5s;
    margin-left: auto;
}
.dropDown .items {
    z-index: 200;
    top: 4em;
    width: 0vw;
    display: none;
    background-color: #9E54FF;
    position: absolute;
    margin-left: -270%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.267);
    transition: width 10s, display 0.1s;
}
.dropDown .items button {
    width: 100%;
    color: white;
    font-size: 18px;
    background-color: transparent;
}
/* spinner styling */
.spinner {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    z-index: 500;
    margin-left: calc((100vw - 3em)/2);
    background-color: transparent;
    border: 4px solid transparent;
    border-top: 4px solid #9E54FF;
    animation-name: spin;
    animation-direction:normal;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

/* button1 styling */
.btn1 {
    min-width: 20em;
    width: 20vw;
    height: 3em;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.137);
    margin-left: auto;
    margin-right: auto;
}
/* input 1 styling */
.inp1 {
    width: 90%;
    height: 3em;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: black;
    outline: transparent;
}
/* login form stying */
.loginform {
    min-width: 20em;
    width: 50vw;
    margin-top: 15vw;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 3.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.267);
}
.loginform div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20%;
    line-height: 3.5em;
}
