/* admin dashboard styling */
.adminDashboard {
    display: grid;
    grid-auto-flow: column;
}
/* admin auth styling */
.adminAuth {
    width: 100%;
    height: 100vh;
    background-image: url(../Images/Path\ 3.svg), url(../Images/Path\ 2.svg), linear-gradient(35deg, #9E54FF 5%, #FF6D6D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0vw 5%;
}
.adminAuth span {
    width: 40vw;
    height: 3em;
    line-height: 3em;
    display: grid;
    grid-auto-flow: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 1%;
}
.adminAuth span input {
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

/* admin menu page stying */
.menuPage {
    width: 90%;
    margin-left: 6em;
    margin-right: auto;
    display: grid;
    grid-auto-flow: row;
    background-color: white;
    margin-top: 0.5em;
}

@media only screen and (max-width: 900px){
    .addFoodForm {
        grid-auto-flow: row !important;
    }
}
