/* analytics styling page */
.analyticsPage {
    width: calc(100vw - 5.05em);
    margin-left: auto;
    display: grid;
    grid-auto-flow: row;
    padding-bottom: 5%;
}
.analyticsPage .generalFoodStatistics .analyticsNav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    font-size: 22px;
    margin-bottom: 2%;
    text-align: left;
    text-indent: 3%;
    position: sticky;
    top: 0;
}
.feedbackStats {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.226);
}
.feedbackStats article {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 25% 75%;
}
.feedbackStats article section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1%;
}

.feedbackStats article section:nth-child(2) div{    
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.151);
}
.feedbackStats .generalFeedback{
    display: flex !important;
    grid-auto-flow: unset;
    grid-template-columns: none;
}
.feedbackStats article section button {
    margin: 5px;
}
.generalFoodStatistics{
    display: grid;
    grid-auto-flow: row;
    row-gap: 2%;
    padding-bottom: 4%;
}
.analyticsPage .nav {
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 3.39em;
    background-color: white;
    box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.226);
}
.foodRatingGraph {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.13);
}
.foodRatingGraph .x {

}
.foodRatingGraph .header {
    display: grid;
    grid-auto-flow: column;
}
.foodRatingGraph .x span {
    display: grid;
    grid-auto-flow: column;
    background-color: #9E54FF;
}
.foodRatingGraph .x span label {
    background-color: #c9a0ff;
}
.foodRatingGraph .x input {
    width: 90%;
    height: 2.5em;
    background-color: white;
    color: #181B28;
    outline: transparent;
    border-bottom: 2px solid black;
}

.foodRatingGraph .foodRating {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 10%;
}
.foodRating span {
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40%;
}
.foodRating span label {
    text-align: right;
    padding-right: 2%;
}
.foodRating span div {
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    background: linear-gradient(90deg, red 1, blue 0);
}
.graph {
    height: 20em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 15%;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
}
.graph .y {
    width: 100%;
    margin-right: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 10% 80%;
    column-gap: 1%;
}
.graph .y .bars {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}
.graph label {
    font-weight: bolder;
}

/* graphbar styling */
.graphBar {
    margin-top: auto;
    height: 98%;
    width: 2em;
    display: grid;
    background-color: rgb(206, 206, 206);
}
.graphBar div {
    width: 100%;
    height: 5%;
    background-color: rgb(253, 69, 2);
    margin-top: auto;
    transition: height 1.5s, background-color 2s;
}
.graphBar p {
    height: 1em;
    width: 200px;
    height: 1em;
    font-size: 0.8em;
    position: absolute;
    margin-top: 650%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    transform-origin: 6%;
    text-align: center;
    transform: rotateZ(-90deg);
}



/* printpage */
#displayQRs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#displayQRs div {
    background-color: white !important;
    outline: 0.5px solid #9E54FF;
    color: #9E54FF;
    width: 200px;
    height: 200px;
}
/* printqrfloatpage */
.printQrFloatPage {
    width: 90%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    left: 10%;
    top: 5%;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.432);
    position: fixed;
    background-color: white;
    z-index: 400;
}
.printQrFloatPage .btns {
    display: grid;
    grid-auto-flow: column;
}
.printQrFloatPage .qrs {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    transform-origin: top;
    justify-content: space-around;
}
/* viewqrprint styling */
.viewQRprint {
    width: 150px;
    height: 180px;
    display: grid;
    margin-top: 1%;
    grid-template-rows: 20% 80%;
}
.viewQRprint label {
    line-height: 200%;
}
.viewQRprint img {
    width: 90%;
    height: 90%;
    margin: 5%;
    object-fit: contain;
}
/* order widget styling */
.order, .processed{
    width: 20em;
    display: grid;
    margin: 1%;
    grid-auto-flow: row;
    padding-bottom: 4%;
    gap: 2%;
    text-align: left;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.144);
}
.order span{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
}
.processed span {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-auto-flow: row;
}
.processed {
    height: 10em;
    box-shadow: none;
    background-color: #181B28;
    color: white;
    width: 12em !important;
}
.order .food, .processed .food {
    grid-auto-flow: row;
}
/* order page styling */
.ordersPage {
    width: calc(100vw - 6em);
    height: 90vh;
    margin-left: 6em;
    margin-top: 1%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 60%;
}
.ordersPage section nav {
    width: 100%;
    height: 3em;
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 0.5px solid #9E54FF;
}
.ordersPage .ordersList {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}
.ordersPage .ordersList::-webkit-scrollbar-track {
    background-color: #181B28;
    width: 20px;
}

/* viewtable widget */
.viewTable {
    min-width: 10em;
    width: 45%;
    height: max-content;
    padding-bottom: 2%;
    margin-top: 2%;
    display: grid;
    grid-auto-flow: row;
    background-color: white;
    transition: box-shadow 0.5s;
    box-shadow: 0px 0px 12px #181b2823;
}
.viewTable label {
    display: grid;
    grid-auto-flow: column;
}
.viewTable:hover {
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 12px #181b280a;
}
.viewTable .btns {
    display: grid;
    grid-auto-flow: column;
}
.button2 {
    width: 90%;
    height: 2.5em;
    color: #9E54FF;
    outline: 0.5px solid #9E54FF;
    background-color: transparent;
}
.delBtn {
    width: 90%;
    background-color: transparent;
    color: red;
    height: 2.5em;
    outline: 0.5px solid red;
}
.delBtn:active {
    color: #9E54FF;
    outline: 0.5px solid #9E54FF;
}
/* setup rest page */
.setupRestPage {
    display: grid;
    grid-auto-flow: column;
    width: calc(100vw - 10em);
    margin-left: auto;
    grid-template-columns: 40%;
}
.setupRestPage section {
    display: grid;
}
.setupRestPage section:nth-child(2) h1{
    height: 2.5em;
    line-height: 2.5em;
    display: grid;
    grid-auto-flow: column;
}
.setupRestPage section:nth-child(2) h1 button {
    margin-top: auto;
    margin-bottom: auto;
}
.setupRestPage section .tables {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.setupRestPage .addTableForm {
    display: grid;
    grid-auto-flow: row;
    width: 90%;
    grid-auto-rows: 3em;
}
.inp1 {
    width: 80%;
    height: 2.5em;
    color: black;
    padding-left: 2%;
    background-color: white;
    outline: 0.5px solid blueviolet;
    margin-left: auto;
    margin-right: auto;
    border: none;
    transition: border-radius 0.5s;
}

.inp1:focus {
    /* border-radius: 5px; */
    outline: 2px solid rgba(137, 43, 226, 0.486);
}
/* button 1 */
.button1 {
    width: 90%;
    height: 2.5em;
    background-color: #9E54FF;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.button1:active {
    background-color: #181B28;
}

/* admin nav styilng */
.adminNav {
    width: 5em;
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 10%;
    text-align: left;
    line-height: 5em;
    box-shadow: 12px 0px 24px rgba(0, 0, 0, 0.541);
    background-color: #181B28;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0vw 5%;
    color: white;
    position: fixed;
    top: 0;
    z-index: 2000;
    
}
.adminNav div {
    width: 100%;
}
.adminNav button {
    width: 90%;
    height: 3em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    outline: 0.5px solid #9E54FF;
    color: #181B28;
    color: #ffffff;
    background-color: transparent;
}
.adminNav h1 {
    text-align: left;
    padding-left: 10%;
}
/* view food styling */
.viewFood {
    width: 20em;
    height: max-content;
    padding-bottom: 2%;
    display: grid;
    margin-top: 2%;
    grid-auto-flow: column;
    grid-template-columns: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.11);
}
.viewFood img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.viewFood div {
    width: 90%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: row;
}
.viewFood div input {
    height: 25px;
    outline: transparent;
    color: #181B28;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #e8e8eb;
}
.viewFood textarea {
    background-color: white;
    color: #181B28;
    min-height: 5em;
    resize: none;
    font-family: inherit;
    outline: transparent;
}
.viewFood #header {
    max-width: 110px;
    outline: transparent;
    background-color: white !important;
    resize: none;
    font-size: larger;
}
.viewFood div span {
    height: 2em;
    line-height: 2em;
    display: grid;
    grid-auto-flow: column;
}
.viewFood div label {
    height: 2em;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    color: #181B28;
}

/* add food segment styling */
.addFood {
    height: 95vh;
    overflow-y: hidden;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40%;
}
.addFood #seeMenu {
    overflow-y: auto;
}
.addFood #seeMenu nav {
    height: 3em;
    line-height: 3em;
    border-bottom: 2px solid #9E54FF;
    position: sticky;
    top: 0;
    margin-bottom: 2%;
    background-color: white;
}
.addFood #seeMenu .foodList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* image upload widget */
.imgUpload {
    width: 50%;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
.imgUpload h5 {
    z-index: 0;
    height: 25vh;
    line-height: 25vh;
    margin-top: auto;
    outline: 0.1px solid #181B28;
}
.imgUpload img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.imgUpload input {
    opacity: 0;
    width: 100%;
    height: 25vh !important;
    outline: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    border: none !important;
}

/* add food form stying */
.addFoodForm {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    row-gap: 2%;
    grid-auto-rows: max-content;
}
.addFoodForm textarea {
    width: 86%;
    height: 10em;
    font-family: inherit;
    background-color: white;
    padding: 2%;
    color: #181B28;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid #9E54FF;
    border-bottom: 0.1px solid #9E54FF;
    outline: transparent;
}
.addFoodForm label {
    height: 2em;
    line-height: 2em;
}
.addFoodForm select {
    min-width: 10em;
}
.addFoodForm input, .addFoodForm select {
    width: 90%;
    height: 2.5em;
    background-color: white;
    outline: transparent;
    border-bottom: 2px solid #9E54FF;
    color: black;
    transition: border-bottom 0.05s;
    margin-left: auto;
    margin-right: auto;
}
.addFoodForm input:focus {
    border-bottom: 3px solid #b983ff;
}
