.App {
  text-align: center;
}

input::-webkit-inner-spin-button {
  display: none;
}

nav {
  z-index: 1000;
}

textarea {
  font-family: rizling ;
  font-size: 1em;
}

.button3 {
  width: 50vw;
  height: 2.5em;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.searchInp {
  position: sticky;
  top: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-height: 3em;
  font-size: 22px;
  border-radius: 0px;
  border-bottom: 2px solid #862aff;
  padding-left: 2%;
  outline: transparent;
  transition: border-bottom 0.5s;
}
.searchInp:focus {
  border-bottom: 2px solid #2a86ff;
}

.trayBtn {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.678);
  top: 20%;
  z-index: 200;
  margin-bottom: auto;
  left: 1%;
  position: fixed;
  color: black;
  background: url('./Images/trayFilled.png') #FF9E0D;
  background-size: 80% 80% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.trayBtn:active {
  background-color: #be770c;
}
.attention .trayBtn{
  top: 30%;
  background: url('./Images/notificationOutlineWhite.png') #FF9E0D;
}
.attention {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 300;
  left: 0vw;
  outline: 0.5px solid red
}
#attentionDetails {
  width: 80vw;
  opacity: 1 !important;
  display: grid;
  grid-auto-flow: row;
  text-align: left;
  row-gap: 4%;
  transition: left 0.5s, opacity 1s, top 0.5s;
  background-color: white;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.336);
  padding-bottom: 25px !important;
}
#attentionDetails h3{
  margin-left: 4%;
}
.attention textarea {
  height: 10em;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: 18px;
  outline: transparent;
}
.simpleblack {
  width: 90%;
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white
}
/* popup styling */
.popup {
  width: 80%;
  position: absolute;
  z-index: 300;
  left: 10%;
  top: 30vh;
  min-height: 10vh;
  height: max-content;
  border-radius: 10px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 115, 115);
}
.popup h3 {
  border-bottom: 1px solid #862aff;
}
.linkBtn {
  width: 75%;
  color: #b2d1fa;
  background-color: transparent;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
}
.button4{
    width: 35%;
    color: white;
    height: 2.5em;
    border-radius: 30px;
    background-color: #6f23d3;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.192);
}
.button4:active{
  background-color: #862aff;
}
.errorDiv {
  height: 100vh;
  display: grid;
  grid-auto-flow: row;
  align-content: center;
}

.ratingWidget {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  text-align: right;
}
.ratingWidget .feedback {
  position: absolute;
  top: 2em;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 15% 70%;
  z-index: 100;
  width: 80vw;
  height: 20em;
  left: -55vw;
  background-color: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.404);
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.feedback h3 {
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  border-bottom: 1px solid #6f23d3;
}
.feedback span {
  display: grid;
  grid-auto-flow: column;
}
.ratingWidget .feedback textarea {
  font-family: inherit;
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 95%;
  font-size: inherit;
  outline: transparent;
}
.feedback textarea:focus {
  border-left: 0.5px solid #2a86ff;
}
.rate {
  width: 40%;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-auto-flow: column;
}
.rateBtn {
  width: 2em;
  height: 2em;
  background-color: transparent;
}
.rateBtn * {
  font-size: 1.5em;
}

.sideNavBtn1 {
  width: 95%;
  margin-left: 2.5%;
  height: 4em;
  background-color: rgb(80, 80, 80);
  color: white;
  font-weight: bolder;
  transition: border 1s;
}
.sqBtn1 {
  width: 5em;
  height: 5em;
  border-radius: 5px;
  background-color: #6f23d3;
}

@media only screen and (max-width: 800px){
  
  #phoneLanding .toScanBtn {
    width: 90%;
    height: 15em;
    margin-top: 20%;
    background: url('./Images/4223371.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.226);
    border-radius: 15px;
  }
  .toScanBtn p {
    user-select: none;
    font-size: 3em;
    height: 4em;
    line-height: 4em;
    background: radial-gradient(rgba(0, 0, 0, 0.151), rgba(255, 255, 255, 0));
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.445);
  }
  /* menuLanding */
  .categList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  .categoryList nav {
    width: 100%;
    height: 100px;
    display: grid;
    align-self: center;
    z-index: 300;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.082);
  }
  .categoryList nav div {
    height: 3em;
    line-height: 3em;
    text-align: left;
    display: grid;
    grid-auto-flow: column;
  }
  .categoryList nav h2 {
    margin-left: 6%;
    color: #862aff;
  }
}
